<div class="text-center">
    <div class="row">
        <h1>
        <a href="https://www.facebook.com/vassi.mladenov"><i class="fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/vmladenov"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.github.com/vassilmladenov"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/vassilmladenov"><i class="fa fa-twitter"></i></a>
        </h1>
    </div>
    <p>I can be reached for email at:</p>
    <p>{{ email }}</p>
</div>
