
    <div class="row">
        <h2>Hi, call me Vassi.</h2>
        <p>I'm a software engineer studying Computer Science at the University of Illinois at Urbana-Champaign, and I'll be graduating in May 2017.</p>
        <p>You may recognize me from <a href="http://researchpark.illinois.edu/case-studies/dow-innovation-center">Dow Innovation Center</a> and <a href="http://www.ni.com/">National Instruments</a>. I am also a teaching assistant and lab administrator for <a href="http://www.math.uiuc.edu/~gfrancis/">Prof. George Francis'</a>s honors Hypergraphics course. I'll be spending the summer of 2016 at Facebook in Menlo Park.</p>
        <p>Please check out some of my projects, and you can view my resumé <a href="/assets/VassilMladenovResume.pdf">here</a>.
    </div>